.backgroundcolor {
    background-color: rgb(25, 29, 40);
}

.image {
    width: 25%;
    height: auto;
    background-color: rgb(23, 54, 80);
    padding: 15px;
}

.header {
    background-color: rgb(23, 54, 80);
    color: violet; 
    font-family: Helvetica, "Times New Roman", serif;
    padding: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 32px;
}

.text {
    background-color: rgb(23, 54, 80);
    color: white;
    font-family: Verdana, "Times New Roman", serif;
    padding: 10px;
}

.links {
    color: violet; 
    background-color: rgb(23, 54, 80);
    font-family: Verdana, Tahoma, sans-serif; 
    padding: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 22px;
}

