.backgroundcolor {
    background-color: rgb(25, 29, 40);
}

.header {
    background-color: rgb(23, 54, 80);
    color: violet;
    font-family: Helvetica, "Times New Roman", serif;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 32px;
}

.links { 
    color: violet; 
    background-color: rgb(23, 54, 80);
    font-family: Verdana, Tahoma, sans-serif; 
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 22px;
}
